// partial for post items
- posts.each do |post|
	.box.panel.panel-default#post-{:id => "post_#{post.id}"}
		%img{:src => asset_path(post.thumbnail_url)}
		%h2
			= post.title
		%p.user 
			Submitted by
			= post.title
		%p.description
			= pretify(post.blurb) 
			= link_to "read more", post.details_url